audio/
figure/
body_transformation.m
clipdb.m
dwg-guitar-synthesis.zip
fold.m
furch.mat
gtrbody.wav
mps.m
pluck_string.asv
slide.aux
slide.log
slide.nav
slide.out
slide.pdf
slide.snm
slide.synctex.gz
slide.tex
slide.toc
synthetic.wav